In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle

In [3]:
case = "Nepal"
output_folder = "MPMORDM Results v1 2015"

In [4]:
# Load data (deserialize)
with open('{}/{}/python_objects.pickle'.format(case, output_folder),
          'rb') as handle:
    global_label_tree, EMA_model_dict, global_dfs_var_unc_data, global_fixed_unc, global_policy_tree = pickle.load(
        handle)

In [7]:
global_dfs_var_unc_data['p0n0'].head()

          actual  lower  upper  best_estimate
DSRDP0  1.520303      1      2            1.5
DSRDP1  1.290710      1      2            1.5
DSRDP2  1.520151      1      2            1.5
DSRDP3  1.900000      1      2            1.5
DSRDP4  1.494693      1      2            1.5

In [8]:
global_dfs_var_unc_data['p0n0p1n1'].head()

          actual     lower     upper  best_estimate
DSRDP0  1.520303  1.052030  1.952030       1.502030
DSRDP1  1.290710  1.029071  1.929071       1.479071
DSRDP2  1.520151  1.052015  1.952015       1.502015
DSRDP3  1.900000  1.090000  1.990000       1.540000
DSRDP4  1.494693  1.049469  1.949469       1.499469

Look at DSRDP3: 
lower goes 10% up. Upper goes 10% down. Towards actual value / same as / Around best_estimate

In [20]:
global_dfs_var_unc_data['p0n0'].tail()

           actual  lower  upper  best_estimate
DSRFL15  1.344200      1      2            1.5
DSRFL16  1.469889      1      2            1.5
DSRFL17  1.455268      1      2            1.5
DSRFL18  1.121665      1      2            1.5
DSRFL19  1.197230      1      2            1.5

In [19]:
global_dfs_var_unc_data['p0n0p1n1'].tail()

           actual     lower     upper  best_estimate
DSRFL15  1.344200  1.034420  1.934420       1.484420
DSRFL16  1.469889  1.046989  1.946989       1.496989
DSRFL17  1.455268  1.045527  1.945527       1.495527
DSRFL18  1.121665  1.012167  1.912167       1.462167
DSRFL19  1.197230  1.019723  1.919723       1.469723